/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .center {
   transition: all .2s;
 }

 .center:hover {
   font-size: 40px;
 }

 .center-block {
   margin-top: 20px;
 }

 .user-name {
   margin-right: 20px;
 }

.btn-submit {
  padding: 40px;
}

.input-field {
  margin-top: 70px;
}

.card-panel {
  margin-top: 40px;
}

.card-title {
  font-weight: bold;
}

.edit-field {
  margin-top: 70px;
}

#error_explanation {
  background-color: bisque;
  padding: 20px;
  border-radius: 3px;
}

#error_explanation h2 {
  display: none;
}

#error_explanation li {
  font-weight: bold;
  padding: 10px;
}

.new-input {
  margin: 2px;
}

.date {
  font-size: 12px;
  color: #aaa;
  text-align: right;
}

.card-action {
  text-align: right;
}

.edit {
  padding: 3px;
  margin: 3px;
}

.delete {
  padding: 3px;
  margin: 3px;
}

 